*{padding: 0; margin:0;}
.escopo3{
	width: 100%;
	height: 100%;
	background-color: #7fadaa;
}
.logo{
	width: 100%;
	height: 200px;
	background-color: white;
}
.titulo{
	width: 100%;
	height: 10%;
	background-color:transparent;
}
.titulo p{
	font-size: 60px;
	text-align: center;
	margin-top: 10px;
	font-family: 'helvetica';
	color: white;
}
.menu{
	width: 86%;
	height: 74.5%;
	background-color: #588e95;
	margin: auto;
	margin-top: 10px;

}	
.razao{
	width: 100%;
	height: 100px;
	background-color: transparent;

}
.razao p{
	font-size: 38px;
	margin-left: 8px;
	font-family: 'helvetica';
	color: white;
}
.razao input{
	height: 50px;
	font-size: 30px;
	border-style: solid;
	border-color: transparent;
	border-radius: 30px 30px 30px 30px;
}
.telefone{
	width: 20%;
	height: 100px;
	background-color: transparent;
	margin-top: 10px;
}
.telefone p{
	font-size: 38px;
	margin-left: 8px;
	font-family: 'helvetica';
	color: white;
	margin-left: 11px;
}
.telefone input{
	height: 50px;
	font-size: 30px;
	border-style: solid;
	border-color: transparent;
	border-radius: 30px 30px 30px 30px;
	width: 70%;
}
.tel_maior{
	width: 74%;
	height: 100px;
	background-color: transparent;
	float: right;
	margin-top: -99px;

}
.tel_maior p{
	font-size: 38px;
	margin-left: 8px;
	font-family: 'helvetica';
	color: white;
	margin-left: 11px;
}
.tel_maior input{
	height: 50px;
	font-size: 30px;
	border-style: solid;
	border-color: transparent;
	border-radius: 30px 30px 30px 30px;
	width: 100%;
}
.nome_fant{
	width: 100%;
	height: 100px;
	background-color: transparent;
	margin-top: 10px;
}
.nome_fant p{
	font-size: 38px;
	margin-left: 8px;
	font-family: 'helvetica';
	color: white;
}
.nome_fant input{
	height: 50px;
	font-size: 30px;
	border-style: solid;
	border-color: transparent;
	border-radius: 30px 30px 30px 30px;
}
.email{
	width: 100%;
	height: 100px;
	background-color: transparent;
	margin-top: 10px;
}
.email p{
	font-size: 38px;
	margin-left: 8px;
	font-family: 'helvetica';
	color: white;
}
.email input{
	height: 50px;
	font-size: 30px;
	border-style: solid;
	border-color: transparent;
	border-radius: 30px 30px 30px 30px;
}

.nome_usuario{
	width: 100%;
	height: 100px;
	background-color: transparent;
	margin-top: 10px;
}
.nome_usuario p{
	font-size: 38px;
	margin-left: 8px;
	font-family: 'helvetica';
	color: white;
}
.nome_usuario input{
	height: 50px;
	font-size: 30px;
	border-style: solid;
	border-color: transparent;
	border-radius: 30px 30px 30px 30px;
}
.senha{
	width: 100%;
	height: 100px;
	background-color: transparent;
	margin-top: 10px;
}
.senha p{
	font-size: 38px;
	margin-left: 8px;
	font-family: 'helvetica';
	color: white;
}
.senha input{
	height: 50px;
	font-size: 30px;
	border-style: solid;
	border-color: transparent;
	border-radius: 30px 30px 30px 30px;
}
.confirm_senha{
	width: 100%;
	height: 100px;
	background-color: transparent;
	margin-top: 10px;
}
.confirm_senha p{
	font-size: 38px;
	margin-left: 8px;
	font-family: 'helvetica';
	color: white;
}
.confirm_senha input{
	height: 50px;
	font-size: 30px;
	border-style: solid;
	border-color: transparent;
	border-radius: 30px 30px 30px 30px;
}
